<p-toast styleClass="toast-message" position="bottom-right" key="br" life="500"></p-toast>

<div class="flex flex-column align-items-center gap-3 fadein">

  <p-card styleClass="p-card-shadow" class="hero-team-card w-full">
    <ng-template pTemplate="content">

      <div class="flex flex-column">
        <span class="team-name">{{ getTeamName$ | async }}</span>
        <p-divider align="center">
          <p-button label="Edit" icon="pi pi-search" styleClass="p-button-outlined" (click)="modifyTeam()"></p-button>
        </p-divider>
        <span class="team-description">{{ getTeamDescription$ | async }}</span>
      </div>

    </ng-template>
  </p-card>

  <p-card styleClass="p-card-shadow" class="hero-team-card w-full">
    <ng-template pTemplate="content">
        <p-table 
        responsiveLayout="stack" 
        [breakpoint]="'960px'" 
        [tableStyle]="{'min-width': '150px'}"
        styleClass="hero-table"
        [value]="(getTeam$ | async)!"
        >
          <ng-template pTemplate="header">
            <tr>
                <th>Image</th>
                <th>Name/Description</th>
                <th>Stats</th>
                <th>Date modified</th>
                <th>Date added</th>
                <th style="width: 5rem">
                  <i class="pi pi-cog"></i>
                </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-hero>
            <tr class="fadein animation-duration-300">
              <td class="justify-content-center">
                <div class="hero-image">
                  <p-image
                  imageClass="shadow-4"
                  [alt]="hero.name"
                  [preview]="true"
                  [src]="hero.thumbnail.path + '.' + hero.thumbnail.extension" />
                </div>
              </td>
              <td>
                <div class="flex flex-column w-full">
                  <div class="hero-name text-center sm:text-center md:text-center lg:text-left"><span>{{hero.name}}</span></div>
                  <div class="hero-description">
                    <p-scrollPanel styleClass="hero-desc-text">
                      {{ 
                      hero.description.length 
                      ? hero.description 
                      : 'No description available'
                      }}
                    </p-scrollPanel>
                  </div>
                </div>
              </td>
              <td class="justify-content-center">
                <div class="flex flex-row gap-4 md:flex-column lg:flex-column">
                  <div class="flex flex-row gap-4 mb-3">
                    <i class="pi pi-book stats-icon" [pTooltip]="hero.comics.available + ' Comics'" tooltipPosition="top" pBadge [value]="hero.comics.available"></i>
                    <i class="pi pi-file-word stats-icon" [pTooltip]="hero.stories.available + ' Stories'" tooltipPosition="top" pBadge [value]="hero.stories.available"></i>
                  </div>
                  <div class="flex flex-row gap-4">
                    <i class="pi pi-calendar stats-icon" [pTooltip]="hero.events.available + ' Events'" tooltipPosition="top" pBadge [value]="hero.events.available"></i>
                    <i class="pi pi-video stats-icon" [pTooltip]="hero.series.available + ' Series'" tooltipPosition="top" pBadge [value]="hero.series.available"></i>
                  </div>
                </div>
              </td>
              <td class="justify-content-center"><span [pTooltip]="(hero.modifiedDt | date :'short')!" tooltipPosition="top">{{hero.modifiedDt | dateAgo}}</span></td>
              <td class="justify-content-center"><span [pTooltip]="(hero.addedDt | date :'short')!" tooltipPosition="top">{{hero.addedDt | dateAgo}}</span></td>
              <td class="justify-content-center">
                <div class="flex flex-row flex-wrap gap-1">
                  <button pButton pTooltip="View details" tooltipPosition="left" class="p-button-sm p-button-info" icon="pi pi-eye" (click)="goHeroDetails(hero)"></button>                  
                  <button pButton pTooltip="Edit" tooltipPosition="left" class="p-button-sm" icon="pi pi-user-edit" (click)="modifyHero(hero)"></button>                  
                  <button pButton pTooltip="Delete" tooltipPosition="left" class="p-button-sm p-button-danger" icon="pi pi-trash" (click)="removeFromTeam(hero)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <div class="w-full p-5">
              <span>No heroes</span>
            </div>
          </ng-template>
        </p-table>
    </ng-template>
  </p-card>
</div>


<app-modify-hero 
[display]="modifyHeroDialogOpts.visible"
[hero]="modifyHeroDialogOpts.hero"
(displayChange)="onModifyHeroDialogClose($event)"
></app-modify-hero>

<app-modify-team 
[display]="modifyTeamDialogOpts.visible"
[team]="modifyTeamDialogOpts.data"
(displayChange)="onModifyTeamDialogClose($event)"
></app-modify-team>