::ng-deep {  

  .p-badge {
    background: #3F51B5;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: 700;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }

  .hero-table {
    
    .hero-image {
      .p-element {
        border-radius: 5px;
        overflow: visible;
        height: calc(100% - 4px)
      }
      .p-element > .p-image > img {
        object-fit: cover;
        border-radius: 5px;
        width: 150px;
        height: 150px;
        
      }
  
      .p-image-preview-indicator {
        border-radius: 5px;
        height: calc(100% - 4px)
      }
    }

    .hero-description {
      .hero-desc-text {
        max-width: 450px;
        height: 100px;
      }
    }

    .stats-icon {
      font-size: 1.5rem;
    }

  } 

}

.hero-team-card {
  max-width: 1500px;
}