<div class="flex flex-column align-items-center gap-3">
  <p-table [value]="(getTeam$ | async)!">
    <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Description</th>
          <th>Stats</th>
          <th>Date added</th>
          <th>Date modified</th>
          <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-hero>
        <tr>
          <td>{{hero.name}}</td>
          <td>{{hero.thumbnail.path + '.' + hero.thumbnail.extension}}</td>
          <td>{{hero.description}}</td>
          <td>
            <div class="flex flex-row flex-wrap gap-4">
              <i class="pi pi-book stats-icon" [pTooltip]="hero.comics.available + ' Comics'" tooltipPosition="top" pBadge [value]="hero.comics.available"></i>
              <i class="pi pi-file-word stats-icon" [pTooltip]="hero.stories.available + ' Stories'" tooltipPosition="top" pBadge [value]="hero.stories.available"></i>
              <i class="pi pi-calendar stats-icon" [pTooltip]="hero.events.available + ' Events'" tooltipPosition="top" pBadge [value]="hero.events.available"></i>
              <i class="pi pi-video stats-icon" [pTooltip]="hero.series.available + ' Series'" tooltipPosition="top" pBadge [value]="hero.series.available"></i>
            </div>
         </td>
          <td>{{hero.modifiedDt}}</td>
          <td>{{hero.addedDt}}</td>
          <td>
            <span>
              {{ 
                hero.description.length 
                ? hero.description 
                : 'No description available'
              }}
            </span>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>