<div class="flex justify-content-center m-5">
  <form [formGroup]="searchForm">
    <span class="p-input-icon-left p-float-label">
      <i class="pi pi-search"></i>
      <input 
      pInputText 
      formControlName="searchTerm"
      placeholder="Search" 
      type="text" 
      class="p-inputtext-sm w-15rem" 
      (keyup)="onSearchChange()"
      />
      <i *ngIf="searchLoading$ | async" class="ml-2 pi pi-spin pi-spinner"></i>
      <label for="float-input">Hero name</label>
    </span>
  </form>
</div>