<p-dialog 
[(visible)]="display"
(onHide)="onHide()"
(onShow)="onShow()"
[modal]="true">
  <ng-template pTemplate="header">
    <span>Modify team</span>
  </ng-template>
  
  <ng-template pTemplate="content">
      <form [formGroup]="teamForm" class="m-4">

        <div class="field">
          <span class="p-float-label">
            <input 
            id="name" 
            type="text" 
            formControlName="name"
            pInputText> 
            <label for="name">Team name</label>
          </span>
        </div>

        <div class="field">
          <span class="p-float-label">
            <textarea  
            pInputTextarea
            cols="30"
            rows="6"
            id="description"  
            formControlName="description"> 
            </textarea>
            <label for="description">Description</label>
          </span>
        </div>

      </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-sm" label="Save" (click)="modifyTeam()"></button>
  </ng-template>
</p-dialog>